.root {
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: var(--section-border-radius);
  display: flex;
  flex-direction: column;
  flex: calc(100% / 3 - 125px);
  gap: 25px;
  max-width: 314px;
  padding: 2rem;
}

.root:hover {
  border-color: var(--medium-color);
  cursor: pointer;
}

.root:hover .title,
.root:hover .meta {
  color: var(--medium-color);
}

.title {
  color: var(--light-color);
  font-weight: bold;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.meta {
  align-items: center;
  display: flex;
  font-size: small;
  justify-content: space-between;
}

.badge {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.javascript {
  background-color: #f7df1e;
  color: #000000;
}

@media screen and (max-width: 700px) {
  .root {
    flex: 100%;
    max-width: unset;
  }
}
