body { 

	max-width: 960px;
	margin: auto;
	font-family: Century Gothic;

 }



/* Icon Editing CSS */

#meicon {

	background-image: url("../images/circle-1.png"); 
	background-repeat: no-repeat;
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	margin: auto;
	margin-top: 30px;

}

#profileinfoicon { 

	background-image: url("../images/head.png"), url("../images/line.png");
	background-repeat: no-repeat;
	background-size: 30px 30px, 801px 2px;
	background-position: 5px 22px, 170px 38px;
	padding: 2px;

 }


#contactinfoicon { 

	background-image: url("../images/phone.png"), url("../images/line.png");
	background-repeat: no-repeat;
	background-size: 30px 30px, 801px 2px;
	background-position: 5px 22px, 180px 38px;
	padding: 2px;

 }


#skillsinfoicon { 

 	background-image: url("../images/bulb.png"), url("../images/line.png");
 	background-repeat: no-repeat;
	background-size: 30px 30px, 801px 2px;
	background-position: 5px 22px, 160px 38px;
	padding: 2px;

 }

#educationinfoicon { 

	background-image: url("../images/star.png"), url("../images/line.png");
	background-repeat: no-repeat;
	background-size: 30px 30px, 801px 2px;
	background-position: 5px 22px, 200px 38px;
	padding: 2px;

 }


#experienceinfoicon { 

	background-image: url("../images/suitcase.png"), url("../images/line.png");
	background-repeat: no-repeat;
	background-size: 30px 30px, 801px 2px;
	background-position: 5px 22px, 220px 38px;
	padding: 2px;

 }

#softwareinfoicon { 

	background-image: url("../images/computer.png"), url("../images/line.png");
	background-repeat: no-repeat;
	background-size: 30px 30px, 801px 2px;
	background-position: 5px 22px, 200px 38px;
	padding: 2px;

 }



/* Text Editing CSS */

h2 { 

	color: #168CD4;

 }

h3 {

 	color: #287CC9;
 	
 }

a:link {

 	text-decoration: none;
 	color: black;

 }

#Name {

 	text-align: center;
 	font-size: larger;
 	color: #808080;
 	text-transform: uppercase;
 	
 }

#lastname {

 	text-align: center;
 	font-size: xx-large;
 	text-transform: uppercase;
 	margin: 0;

 }

#profession {

 	text-align: center;
 	font-size: small;
 	margin: 0;

 }

 #contactinfoicon p, h2, #profileinfoicon p, h2 { 

	padding-left: 42px;

 }

 .skills { 

 	text-align: center;

 }

 .listcircle { 

 	padding-left: 47px;

 }

.softwareprogress { 

	padding-left: 42px;
	margin: 0px;

}

.companyname, .date {

	display: inline;
	line-height: 28px;
	vertical-align: top;
	margin-left: 12px;

}

.bold {

 	font-weight: bold;
 	margin: 0;
 	margin-top: 7px;
 	margin-left: 12px;

 }

 .unbold { 
 	margin: 0;
 	margin-bottom: 10px;
 	margin-right: 40px;
 	margin-left: 12px;

  }


.skillscenter { 

	list-style: none;
	margin-left: 5px;

}

.softwarebullet {

	list-style: none;
	margin: 0px;

}


/* Software  Bar */

.softwarewrap {

 	width: 100%;
 	margin-left: 2px;
 	margin-bottom: 10px;

 }

.photoshopillustrator,.dreamweaver,.htmlcss,.javascriptangularnode {

 	width: 915px;
 	background-color: #CCCCCC;
 	margin-right: 42px;

 	
 }

.photoshopillustratorfill { 

	display: block;
	height: 25px;
	background-color: #208ADC;
	width: 50%;
	

}

.dreamweaverfill { 

	display: block;
	height: 25px;
	background-color: #208ADC;
	width: 20%;

 }

.htmlcssfill { 

 	display: block;
	height: 25px;
	background-color: #208ADC;
	width: 80%;
	
  }

.javascriptangularnodefill { 

 	display: block;
	height: 25px;
	background-color: #208ADC;
	width: 75%;

  }


/* Skills Bar */

.unfill { 

	background-image: url("../images/circle-3.png");
	background-repeat: no-repeat;
	background-size: 915px 15px, 915px 15px;
	width: 915px;
	height: 15px ;
	
}

#creativefill { 

	background-image: url("../images/circle-4.png");
	background-repeat: no-repeat;
	background-size: 915px 15px, 915px 15px;
	width: 413px;
	height: 15px ;
	margin-top: -15px;
	margin-right: 40px;
	
}

#teamworkfill { 

	background-image: url("../images/circle-4.png");
	background-repeat: no-repeat;
	background-size: 915px 15px, 915px 15px;
	width: 556px;
	height: 15px ;
	margin-top: -15px;
	margin-right: 40px;
	
}

#innovatefill {

	background-image: url("../images/circle-4.png");
	background-repeat: no-repeat;
	background-size: 915px 15px, 915px 15px;
	width: 503px;
	height: 15px ;
	margin-top: -15px;
	margin-right: 40px;
	
}

#communicationfill { 

	background-image: url("../images/circle-4.png");
	background-repeat: no-repeat;
	background-size: 915px 15px, 915px 15px;
	width: 358px;
	height: 15px ;
	margin-top: -15px;
	margin-right: 40px;

}


/* Custom Bullet Points */

#educationinfoicon li {
	
	list-style: none;
 	background-image: url("../images/circle-2.png");
 	background-repeat: no-repeat;
 	background-position: 0px 10px;
 	background-size: 7px;

}

#experienceinfoicon li {

 	list-style: none;
 	background-image: url("../images/circle-2.png");
 	background-repeat: no-repeat;
 	background-position: 0px 10px;
 	background-size: 7px;
 
 }