.root {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.searchInput {
  background-color: var(--dark-color);
  border-radius: 1em;
  border: 1px solid transparent;
  color: var(--light-color);
  height: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 35px;
  width: calc(40% - 30px);
}

.searchInput:hover {
  border-color: var(--light-color);
}

.filterBtn {
  background-color: var(--dark-color);
  border-radius: 1rem;
  border: none;
  color: var(--medium-color);
  height: 32px;
  margin-left: 25px;
  text-align: center;
  width: 150px;
}

.filterBtn:hover {
  border: 1px solid var(--light-color);
  color: var(--light-color);
  cursor: pointer;
}

.filterBtn i {
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  .root {
    display: none;
  }
}
