.root {
  display: flex;
  gap: 25px;
  margin-bottom: 2rem;
  width: 100%;
}

.aboutSection {
  background-color: var(--dark-color);
  border-radius: var(--section-border-radius);
  display: flex;
  flex-direction: column;
  flex: 60%;
  gap: 25px;
  padding: var(--section-padding);
}

.wave,
.greeting {
  font-size: 2.5rem;
}

.wave {
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
}

.wave:hover {
  animation: waveAnimation 0.5s ease-in-out infinite;
}

.greeting {
  color: var(--light-color);
  font-weight: bold;
}

.link {
  color: var(--light-color);
  text-decoration: none;
}

.link:hover {
  color: var(--medium-color);
}

.socialIconsSection {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  width: 70%;
}

.socialIcon {
  color: var(--medium-color);
  height: 39px;
  text-decoration: none;
  width: 38px;
}

.socialIcon:hover {
  color: var(--light-color);
}

.heroSection {
  background-color: var(--dark-color);
  background-image: url(../../public/assets/images/me.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--section-border-radius);
  flex: 40%;
  padding: var(--section-padding);
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

@media screen and (max-width: 700px) {
  .heroSection {
    display: none;
  }
}
