:root {
  --dark-color: hsl(58, 3.7%, 13.1%);
  --section-padding: 3rem;
  --section-border-radius: 1rem;
  --light-color: hsla(60, 88.7%, 99.8%, 0.923);
  --medium-color: hsla(51, 97%, 97.8%, 0.597);
}

html {
  height: calc(100% - 2rem);
  width: 100%;
}

#root {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  background-color: hsl(60, 3.7%, 10.6%);
  border-radius: 1em;
  color: var(--medium-color);
  font-family:
    Styrene,
    apple-system,
    BlinkMacSystemFont,
    Inter,
    sans-serif,
    -apple-system;
  font-size: 20px;
  height: 100%;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
}
