.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 96%;
}

.sectionGridContainer {
  display: flex;
  align-items: stretch;
  gap: 25px;
}

@media screen and (max-width: 700px) {
  .root {
    display: block;
    width: 90%;
  }
  .sectionGridContainer {
    flex-direction: column;
  }
}
