.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.hero {
  align-items: center;
  border-radius: var(--section-border-radius);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.title {
  color: var(--light-color);
  font-size: 2em;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}

.content {
  font-size: 20px;
  line-height: 32px;
  max-width: 70%;
}

.content h2,
.content h3 {
  color: var(--light-color);
  font-weight: bold;
}

.content h2 {
  font-size: 1.5em;
}

.content h3 {
  font-size: 1.17em;
}

.content p,
.content ul,
.content ol,
.content pre {
  margin-top: 25px;
}

.content h2,
.content h3 {
  margin-top: 50px;
}

.content ul {
  list-style: disc;
  margin-left: 17px;
}

.content li {
  word-wrap: break-word;
}

.content ol {
  list-style: decimal;
  margin-left: 20px;
}

.content img {
  width: 100%;
  height: auto;
}

.content p code,
.content ul li code,
.content ol li code {
  background-color: var(--light-color);
  border-radius: 6px;
  color: var(--dark-color);
  padding: 0.1em 0.4em;
}

.content p em {
  font-weight: bold;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer a {
  text-decoration: none;
}

.contentContainer a:hover {
  color: var(--light-color);
  text-decoration: underline;
}

.contentContainer a:visited,
.contentContainer a:active,
.contentContainer a:link {
  color: var(--medium-color);
}

@media screen and (max-width: 700px) {
  .root {
    width: 80%;
  }

  .content {
    max-width: 100%;
  }
}
